<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Image Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Image Classification</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*">
            <input type="submit" value="Upload">
        </form>
        
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        {% if results %}
        <h2>Results:</h2>
        <div class="results">
            {% for result in results %}
            <p>{{ result.label }}: {{ result.probability|round(2) }}%</p>
            {% endfor %}
        </div>
        {% endif %}

        {% if image_file %}
        <img src="{{ url_for('uploaded_image', filename=image_file) }}" alt="Uploaded Image">
        {% endif %}
    </div>
</body>

</html>
